doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Project CV
  link(rel='stylesheet' href='./styles.css')
  link(rel="shortcut icon", href="./img/free-icon.png", type="image/x-icon")
.body-bg
  .container-mb-5
    .row-cv
      .cv-left
        .row
          .photo-block
            .frontcamera
            .slider 
              .slider-line
                img.cv-photo(src='./img/IMG_1292.JPG' alt='Taras Zadorozhnyi' width='380')
                img.cv-photo(src='./img/run_17.JPG' alt='Taras Zadorozhnyi' width='380')
            .buttons 
              button.slider-back BACK
              button.slider-next NEXT 
            ul.ul-contacts
              li &#x1F382 26.01.1990
              li
                a(href='tel:+380662463284') +38 066 246 32 84
              li
                a(href='mailto:tz.taras@gmail.com') tz.taras@gmail.com
              a(href='https://www.facebook.com/100000204824625/')
                img.mediapics(src='./img/fblogo.png' alt='Facebook' width='20' title='My facebook')
              a(href='https://www.instagram.com/tz.rs/')
                img.mediapics(src='./img/instalogo.jpg' alt='Instagram' title='My instagram')
              a(href='https://strava.com/athletes/62796261')
                img.mediapics(src='./img/stravaicon.jpg' alt='Strava' title='My strava')
              a(href='https://github.com/tztaras')
                img.mediapics(src='./img/icon-github.png' alt='Github' title='My github')
              
              p Kyiv, Shose Harkivske, 180/21, app. 144, 02121
        .hardskills
          hr.lefthr
          section.mt-3
          h2 Hard Skills
          // наполнить скиллы
          ul.ul-hardskills
            li HTML
            li CSS
            li JS
            li English: B2 (IELTS: 6 Academic)
            
        .softskills
          hr.lefthr
          h2 Soft Skills
          ul.ul-softskills
            li Teamwork
            li Coffee Enjoyer
            li Internet Surfer
        .achievements
          hr.lefthr
          h2 Achievements
          ul.ul-achievements
            li
            li
      .cv-right
        h1 Taras Zadorozhnyi
        hr
        hr
        hr
        hr
        hr
        hr
        hr
        hr
        hr
        hr
        hr
        hr
        hr
        hr
        hr
        h3 Trainee Frontend Developer
        h4 Frontend Developer
        |             Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate
        |             recusandae, velit corrupti dolorum sequi ipsa! Rem quisquam ullam,
        |             est placeat eveniet obcaecati illo, at quaerat praesentium
        |             asperiores iusto repudiandae porro.
        .education
          hr
          h3 Education
          |               Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam,
          |               molestias laudantium. Ex optio reprehenderit illo sequi fugit
          |               praesentium, non, asperiores molestias tempora veritatis autem ea
          |               dolore, porro nihil exercitationem eligendi! Lorem ipsum dolor sit
          |               amet consectetur adipisicing elit. Aperiam aspernatur delectus sit
          |               harum ab expedita tenetur aut eaque vitae. Consequatur corrupti
          |               obcaecati natus porro! Eveniet nobis autem cumque velit aperiam!
          |               Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat,
          |               accusantium impedit! Ut velit dolore nulla deserunt veritatis
          |               quod, facilis dolorum amet magni, voluptates vitae nostrum. Cumque
          |               inventore consequuntur laudantium qui! Lorem ipsum dolor sit amet
          |               consectetur adipisicing elit. Ullam, molestias laudantium. Ex
          |               optio reprehenderit illo sequi fugit praesentium, non, asperiores
          |               molestias tempora veritatis autem ea dolore, porro nihil
          |               exercitationem eligendi! Lorem ipsum dolor sit amet consectetur
          |               adipisicing elit. Aperiam aspernatur delectus sit harum ab
          |               expedita tenetur aut eaque vitae. Consequatur corrupti obcaecati
          |               natus porro! Eveniet nobis autem cumque velit aperiam!
        .jobexperience
          hr
          h3 Job Experience
          |               Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat,
          |               accusantium impedit! Ut velit dolore nulla deserunt veritatis
          |               quod, facilis dolorum amet magni, voluptates vitae nostrum. Cumque
          |               inventore consequuntur laudantium qui! Lorem ipsum dolor sit amet
          |               consectetur adipisicing elit. Ullam, molestias laudantium. Ex
          |               optio reprehenderit illo sequi fugit praesentium, non, asperiores
          |               molestias tempora veritatis autem ea dolore, porro nihil
          |               exercitationem eligendi! Lorem ipsum dolor sit amet consectetur
          |               adipisicing elit. Aperiam aspernatur delectus sit harum ab
          |               expedita tenetur aut eaque vitae. Consequatur corrupti obcaecati
          |               natus porro! Eveniet nobis autem cumque velit aperiam!
        .Hobby
          hr
          h3 Hobby
          
          h4 Running
          br
          br
          //- СДЕЛАТЬ ТАБЛИЦУ
          //- СДЕЛАТЬ ТАБЛИЦУ
          //- СДЕЛАТЬ ТАБЛИЦУ
          //- СДЕЛАТЬ ТАБЛИЦУ
          | All-Time PRs: 
          br
          | 5K
          span.span5k
          | 20:47
          br 
          |10K
          span.10k 
          | 44:15
          br
          | Half-marathon 
          span.span1
          |  1:42:48 
          br
          | Marathon 
          span.span2
          |  3:37:40 
          br
          br
          iframe(height='454' width='300' frameborder='0' allowtransparency='true' scrolling='no' src='https://www.strava.com/athletes/62796261/latest-rides/8306bf03abacdd53b9e95f6f666aa0b0c464384d')
          
        br
        //- .lowbar 
        //-   hr
hr#lb         
script(src="./script.js") 
