body {
  background-color: rgb(226, 231, 231);
  background-size: cover;
  /* min-width: fit-content; */
  /* max-width: min-content; */

  /* margin: 80px; */
  margin: 40px auto;
  /* margin: 40px 300px 40px 300px; */
  /* width: 1122px; */
  /* width: 80%; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: fit-content;
}

.body-bg {
  /* margin: 40px auto; */
  display: flex;
  border-color: black;
  outline: 20px solid black;
  border-radius: 30px;
  /* min-width: fit-content; */
  width: 1122px;

  /* width: 80%; */
}


.row-cv {
  display: flex;
  flex-direction: row;

}

.cv-photo {
  margin-top: 30px;
  justify-content: center;
}

.photo-block {
  text-align: center;
}

.frontcamera {
  width: 30px;
  height: 30px;
  background-color: black;
  outline: 5px solid black;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 50%;
}

.cv-left,
.ul-contacts,
.hardskills,
.ul-hardskills,
.li,
.softskills,
.achievments {
  max-width: 400px;
}

.cv-left {
  background-color: cadetblue;
  color: white;
  min-height: 30vh;
  max-width: 400px;
}

.slider {
  width: 400px;
  max-width: fit-content;
  overflow: hidden;
  max-width: 100%;


}

.slider-line {
  display: flex;
  transition: 0.8s;
}

.cv-left a {
  color: aliceblue;
  text-decoration: dashed;
}

.cv-left a:hover {
  text-decoration: dotted;
}

.ul-contacts {
  line-height: 175%;
  padding-left: 15px;
  padding-right: 15px;
  list-style-type: none;
}

.mediapics {
  border-radius: 50%;
  width: 25px;
  border: 3px white solid;
}

.mt-3 {
  margin-top: 20px;
}

/* .bg-white {
  font-size: larger;
} */

.lefthr {
  max-width: 84%;
  /* padding-left: 40px; */
}

.hardskills,
.softskills,
.achievements {
  max-width: 400px;

}

h2 {
  text-align: center;
  font-size: large;
}

h3 {
  font-size: large;
}

.ul-hardskills,
.ul-softskills,
.ul-achievements {
  list-style-type: square;
  line-height: 175%;
  padding-left: 20%;


}



/* БИОГРАФИЮ РЕДАКТИРОВАТЬ СЮДА */
.cv-right {
  background-color: white;
  color: rgb(0, 0, 0);
  min-height: 30vh;
  padding-top: 60px;
  padding-left: 30px;
  padding-right: 30px;


  /* padding-bottom: 60px; */
}

.span5k {
  padding-left: 121px
}

.span1 {
  padding-left: 5px;
}

.span2 {
  padding-left: 46px;
}

/* .lowbar {
  background-color: aquamarine;
} */

/* .lowbar>hr {
  margin-right: 68%;
  background-color: rgba(5, 5, 5, 0.89);
  width: 130px;
  margin: 0 auto;
  height: 7px;
  border-radius: 5px;


  margin-bottom: 50px;


} */

.Hobby {
  margin-bottom: 15px;
}

#lb {
  position: relative;
  width: 130px;
  bottom: 25px;
  height: 7px;
  border-radius: 7px;
  background-color: rgba(5, 5, 5, 0.89);
}

/* адаптация под мобильные устройства */

@media (min-width: 1223px) {
  /* .lowbar>hr {
    width: 40px;
    color: blue;
  } */
}


@media (max-width: 1222px) {


  body {
    width: fit-content;
  }

  .body-bg {
    width: fit-content;
  }

  .cv-left {
    max-width: 300px;
  }

  .cv-right {
    max-width: 500px;
  }
}

@media (max-width: 940px) {


  body {
    width: fit-content;

  }

  .body-bg {
    width: fit-content;
  }

  .cv-left {
    max-width: 250px;
  }

  .cv-right {
    max-width: 430px;
  }

  .ul-hardskills,
  .ul-softskills,
  .ul-achievements {
    padding-left: 18%;
  }
}





td {
  padding-right: 7px;
}

.tdright {
  text-align: end;
}

/* @media print {
  body {
    size: A4;
    border: none;
    outline: none;
    background-color: none;
  }

  .body-bg {
    border: none;
    outline: none;
    background-color: none;
  }
} */