body {
  background-color: rgb(226, 231, 231);
  background-size: cover;
  /* min-width: fit-content; */
  /* max-width: min-content; */

  /* margin: 80px; */
  margin: 40px auto;
  /* margin: 40px 300px 40px 300px; */
  width: 1122px;
  /* width: 80%; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: fit-content;
}

.body-bg {
  /* margin: 40px auto; */
  display: flex;
  border-color: black;
  outline: 20px solid black;
  border-radius: 30px;
  /* min-width: fit-content; */
  width: 1122px;
  /* max-width: min-content; */
  /* width: 80%; */
}


.row-cv {
  display: flex;
  flex-direction: row;

}

.cv-photo {
  margin-top: 30px;
  justify-content: center;
}

.photo-block {
  text-align: center;
}

.frontcamera {
  width: 30px;
  height: 30px;
  background-color: black;
  outline: 5px solid black;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 50%;
}

.cv-left,
.ul-contacts,
.hardskills,
.ul-hardskills,
.li,
.softskills,
.achievments {
  max-width: 400px;
}

.cv-left {
  background-color: cadetblue;
  color: white;
  min-height: 30vh;
  max-width: 400px;
}

.slider {
  width: 400px;
  max-width: fit-content;
  overflow: hidden;
  max-width: 100%;


}

.slider-line {
  display: flex;
  transition: 0.8s;
}

.cv-left a {
  color: aliceblue;
  text-decoration: dashed;
}

.cv-left a:hover {
  text-decoration: dotted;
}

.ul-contacts {
  line-height: 175%;
  padding-left: 15px;
  padding-right: 15px;
  list-style-type: none;
}

.mediapics {
  border-radius: 50%;
  width: 25px;
  border: 3px white solid;
}

.mt-3 {
  margin-top: 20px;
}

.bg-white {
  font-size: larger;
}

.hardskills,
.softskills,
.achievements {
  max-width: 400px;
  padding-left: 15px;
  padding-right: 15px;
}

h2 {
  /* text-align: center; */
  padding-left: 50px;
  font-size: large;
}

h3 {
  font-size: large;
}

.ul-hardskills,
.ul-softskills,
.ul-achievements {
  list-style-type: square;
  line-height: 175%;
  padding-left: 55px;
  padding-right: 15px;
  text-align: left;
}

/* БИОГРАФИЮ РЕДАКТИРОВАТЬ СЮДА */
.cv-right {
  background-color: white;
  color: rgb(0, 0, 0);
  min-height: 30vh;
  padding-top: 60px;
  padding-left: 30px;
  padding-right: 30px;


  /* padding-bottom: 60px; */
}

.span1 {
  padding-left: 5px;
}

.span2 {
  padding-left: 46px;
}

/* .lowbar {
  background-color: aquamarine;
} */

.lowbar>hr {
  margin-right: 68%;
  background-color: rgba(5, 5, 5, 0.89);
  width: 130px;
  /* margin: 0 auto; */
  height: 7px;


  /* margin-bottom: 50px; */


}



/* адаптация под мобильные устройства */

@media (min-width: 1223px) {
  /* .lowbar>hr {
    width: 40px;
    color: blue;
  } */
}


@media (max-width: 1222px) {


  body {
    width: fit-content;
  }

  .body-bg {
    width: fit-content;
  }

  .cv-left {
    max-width: 300px;
  }

  .cv-right {
    max-width: 500px;
  }
}


.hardskills,
.ul-hardskills,
.ul-softskills,
.li,
.softskills,
.achievments {
  padding-left: 18px;
}

/* 
  h2 {
    padding-left: 15px;
  }

  .cv-right {
    max-width: 70%;
  
} */


/* 
@media (max-width: 500px) {

  .body-bg,
  .row-cv,
  .cv-left,
  .cv-right {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }

  .achievements {
    display: none;
  }

  .hardskills,
  .softskills {
    text-align: center;
  }

  .ul-hardskills,
  .ul-softskills,
  .ul-achievements {
    text-align: left;
    padding-left: 95px;
  }